body {
    background-color: #f4f4f4;
    color: #333333;
    font-family: Arial, sans-serif;
}

main {
    padding: 60px 0;
}

h1 {
    font-size: 36px;
    color: #52687a;
    margin: auto;
    text-align: center;
}


h2 {
    font-family: "クレー", "Hiragino Mincho ProN", serif;
    font-size: 15px;
    color: #52687a;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

h3 {
    margin: 0;
}


h4 {
    position: relative;
    padding-left: 13px;
    margin-bottom: 10px;
    letter-spacing: 2px
}

h4::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 16px;
    background-color: #52687a;
}

.p1 {
    font-size: 12px;
    margin-top: 9px;
    margin-bottom: 40px;
    line-height: 20px
}

.img-round img {
    border-radius: 50%;
    margin-right: 30px;
}

.list {
    margin: 0;
    padding-left: 12px;
    letter-spacing: 1px
}

.list li {
    font-size: 12px;
    margin-bottom: 2px;
}

.list li::marker {
    font-size: 13px;
    color: #777;
}

.flex-center {
    display: flex;
    justify-content: center;
}